body{
    background-color: rgb(164, 166, 168);
    font-family: 'Urbanist', sans-serif;
    font-size: 25px;
    font-style: normal;
    color: black;
}

.container{ 
    margin: 0px auto;
    max-width: 900px;  
    padding: 0px 10px;
    display: grid;
    grid-template-columns: 35% 65%;
}

@media (max-width: 900px){
    .container{ 
        max-width: 670px;  

    }
}

@media (max-width: 692px){
    .container{ 
        max-width: 450px;  

    }
}

@media (max-width: 467px){
    .container{ 
        max-width: none;  

    }
}

/*ASIDE*/

.aside{
    background-color: rgb(252, 185, 42);
    height: 100%;
    box-shadow: -13px 6px 16px rgb(109, 109, 109);
}

.header{
    width: 100%;
    height: min-content;
    background-color: rgb(217, 220, 223);
    padding: 0px;
    
}


h1{
    font-size: 32px;
    font-weight: bold   ;
    text-align: center;
    padding: 5%;
    margin: 0px;
}

@media (max-width: 900px){
    h1{
        font-size: 25px;
    }
}

@media (max-width: 692px){
    h1{
        font-size: 18px;
    }
}

@media (max-width: 467px){
    h1{
        font-size: 12px;
    }
}

.cv-foto{
    width: 100%;
    height: 100%;
    padding: 0px;
}

.contacts{
    width: 100%;
}

.contacts-wraper{
    background-color:rgb(218, 159, 33);
}

.contacts-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    list-style-type: none;
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    color: rgb(255, 255, 255);
}


.lang{
    margin-bottom: 26%;
}

.lang-wrapper{
    background-color:rgb(218, 159, 33);
    padding: 0%;
}

.lang-list{
    padding-left: 30%;
}

h2{
    font-size: 25px;
    font-weight: normal;
    text-align: center;
    padding: 2% 10%;
}

@media (max-width: 900px){
    h2{
        font-size: 25px;
    }
}

@media (max-width: 692px){
    h2{
        font-size: 18px;
    }
}

@media (max-width: 467px){
    h2{
        font-size: 10px;
    }
}


/*END ASIDE*/

/* MAIN */

.main{
    background-color: rgb(255, 255, 255);
    box-shadow: 13px 6px 16px rgb(109, 109, 109);
    
}

.about-me{
    background-color: rgb(252, 185, 42);
    padding: 0%;
}

.about{
    padding: 2% 5%;
    font-size: 25px;
}

@media (max-width: 900px){
    .about{
        font-size: 25px;
    }
}

@media (max-width: 692px){
    .about{
        font-size: 16px;
    }
}

@media (max-width: 467px){
    .about{
        font-size: 8px;
    }
}

.code-ex{
    background-color: rgb(252, 185, 42);
    padding: 0%;
}

.code{
    width: 90%;
    margin: 0px auto;
    background: rgb(243, 244, 245);
    border-radius: 4%;
}

pre:hover{
    background-color: rgb(217, 220, 223);
}

.skills-wraper{
    background-color: rgb(252, 185, 42);
}

.skills-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    list-style-type: none;
    margin-bottom: 8%;
}

/* END MAIN */

.footer{
    background-color: rgb(217, 220, 223);
    padding-bottom: 0%;
}

.footer-list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0%;
    list-style-type: none;
}

.footer-git{
    width: 30%;
    
}

.footer-rss{
    width: 30%;
}

.footer-year{
    width: 30%;
    padding-right: 3%;
    font-weight: bold;
}

.github{
    width: 40%;
    margin: 0%;
    padding-top: 6%;
    padding-bottom: 6%;
}

.RSS{
    width: 60%;
    margin: 0%;
}

.year-wrapp{
    width: 100%;
}